{% extends "layout.html" %}
{% load static %}
{% load form_tags %}

{% block content %}
    <div>
        <div class="text-center p20">
            <h1>
                <i class="fa fa-print"> </i>
                {{ PROJECT_TITLE }}
            </h1>
        </div>
        {% if errors %}
            <div class="alert alert-danger margin-center" style="width: 400px;">{{ errors }}</div>
        {% endif %}
        <div class="card shadow panel p30 margin-center" style="width: 400px;">
            <form id="id_login_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% form_error form %}
                {% basic_form_headless form %}

                <div class="clearfix">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="pull-left">
                        <a href="#" title="Ask a volunteer!" onclick='alert("Ask a volunteer!")'>Forgot password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("id_username").classList.add("form-control");
        document.getElementById("id_password").classList.add("form-control");
    </script>
{% endblock %}